<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div id="back">
<div class="container">
  <div class="row">
    <div class="box">
      <form class="form-horizontal span6">

        <fieldset>
          <legend >User Name</legend>
       
          <div class="control-group">
            <label class="control-label">Type Your Name Hear</label>
            <div class="controls">
              <input type="text" class="input-block-level">
            </div>
          </div>
    
      
           <div > 
            <!-- <div class="col-1"> -->
            <button type="submit" class="btn btn-primary btns">Submit</button>
          <!-- </div> -->
          <!-- <div class="col-1"> -->
            <!-- <button type="button" class="btn">Cancel</button> -->
          
          <!-- </div> -->
           </div> 
        </fieldset>
      </form>
    
    </div>
  </div>
</div>
</div>